@font-face {
    font-family: 'Trebuchet MS';
    src: url('/css/font.ttf');
}

html {
    background: url('/img/background.jpg');
}

* {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Helvetica', 'Tahoma', Arial, sans-serif;
    text-align: center;
}

a {
    color: #ffcc00;
}

.logo {
    width: 285px;
}